@charset "UTF-8";
@import url("http://zzupd.dothome.co.kr/200528/cssReset/reset.css");

/* Guide Line */
div#wrap { border: 1px solid #000; }
/*
header#header { border: 4px solid #f00; }
div#rightArea { border: 2px solid #0f0; }
*/
div#slideshow { border: 1px solid #000; }
/* Guide Line */


/* 공통영역 시작 */
div#wrap {
    width: 1000px;
    position: relative;
    display: flex;
}




/* 공통영역 끝 */

/* header#header 시작 */
header#header {
    width: 220px;

}



    /* div#headerLogo 시작 */
    div#headerLogo {
        text-align: center;
    }
    /* div#headerLogo 끝 */

    /* nav#gnb 시작 */
    nav#gnb {
        width: 200px;
        margin: 14px auto;
    }

#gnb>ul#mainMenu {
    list-style: none;
    padding-left: 0;
}
#gnb li {
    text-align: center;
    padding: 14px;
    border: 1px solid #000;
    border-bottom: none;
    background-color: #e7f7f7;
}
#gnb li:last-child {
    border-bottom: 1px solid #000;
}


#gnb li a {
    font-size: 21px;
    font-weight: bold;
}

    /* nav#gnb 끝 */


/* header#header 끝 */


/* div#rightArea 시작 */
div#rightArea {
    width: 760px;

    margin-left: 10px;

}



div#rightArea div#slideshow {
    height: 350px;
    text-align: center;
    overflow: hidden;
    margin: 6px;

    position: relative;
}

#rightArea div#slideshow span {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

main#main {
    width: 760px;
    margin: 0 auto;
/*    border: 1px solid #f00;*/
    display: flex;

}
main#main>* {
    border: 1px solid #ccc;
}
div#bbs {
    width: 320px;
    height: 200px;
    padding: 6px;
    position: relative;
    box-sizing: border-box;
}
#bbs button {
    padding: 4px 14px;
    border: 1px solid #cccccc;
    display: inline-block;
    position: relative;
    left: 30px;
    top: 2px;
    outline: 0;
}

#bbs button#notice_btn{
    background-color: #b3dee5;
}
#bbs button:first-child {
    border-bottom: none;
}
#bbs button:nth-child(2) {
    left: 24px;
    border: none;
    border-bottom: 1px solid #ccc;
    top: 1px;
}
#bbs div#content {
    height: 156px;
    border: 1px solid #ccc;
}
#bbs div#content table tr td{
    cursor: pointer;
}


#bbs div#gallery{
   position: relative;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: none;
}

#banner {   /* 180 * 69 */
    width: 220px;
    height: 200px;
    padding: 65px 20px;
    box-sizing: border-box;
}
#shortcut {   /* 180 * 135 */
    width: 220px;
    height: 200px;
    padding: 32px 20px;
    box-sizing: border-box;
}

/* div#rightArea 끝 */



/* footer#footer 시작 */
footer#footer {
    width: 760px;
    height: 80px;
/*    border: 1px solid #00f;*/
    margin: 0 auto;
    display: flex;
}
#footer>img {
    width: 200px;
    height: 40px;
    padding: 20px 0;
/*    border: 1px solid #f00;*/
    box-sizing: content-box;
}
#footer>div#footerRight {
    width: 560px;
}
#footer>div#footerRight nav {
    margin: 10px 0;
}
#footer>#footerRight ul {
/*    border: 1px solid #000;*/
    margin: 0 auto;
    list-style: none;
}
#footer>#footerRight li {
    float: left;
    margin: 0 10px;
}
#footer>#footerRight ul::after {
    content: "";
    clear: both;
    display: block;
}
#footer>#footerRight span {
    text-align: center;
/*    border: 1px solid #000;*/
    margin: 0 auto;
    margin-top: 14px;
    display: block;
}
/* footer#footer 끝 */

/* 레이어팝업 시작 */

div#ModalLayer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
    display: none;
}
div#LayerPopup{
    position: relative;
    width: 500px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
div#ModalLayer #closePopup{
    position: absolute;
    bottom: 35px;
    right: 25px;
    width: 50px;
    height: 25px;
    background-color: #b0dfe7;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

div#ModalLayer div#LayerPopup p{
  margin: 7px;
    font-size: 18px;

}

div#ModalLayer div#LayerPopup p#popupTitle{
    font-size: 30px;
    font-weight: bold;
}
div#ModalLayer div#LayerPopup p#popupTitle2{
  font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

/* 레이어팝업 끝 */












